.home{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}
.button{
  background-color: blue;
  padding: 20px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  color: #ffff;
  font-weight: 400;
  letter-spacing: 1px;
}